extends ./layout

block content
  h3 Cadastrar usuário
  if errors
    ul.errors
      for error in errors
        li=error.message
  form(method="post" action="/usuarios")
    div
      label Primeiro Nome:
        input(name="firstName" value=firstName)
    div
      label Sobrenome:
        input(name="lastName" value=lastName)
    div
      label Email:
        input(name="email" value=email)
    div
      label Senha:
        input(name="password" type="password" value=password)
    div
      label Data de Nascimento:
        input(name="birthday" type="date" value=birthday)
    div
      label Telefone:
        input(name="phone" value=phone)
    if groups.length != 0
      div
        label Grupo:
          select
            option
            for group in groups
              option(value=group.id) #{group.title}
    div
      button Cadastrar




