extends ./layout

block content
  h3 Lista de grupos
  if groups && groups.length != 0
    ul
      for group in groups
        li=group.title
          ul
            for user in group.users
              li
                a(href='/usuarios/'+ user.id)=user.firstName
          