doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1=title
    div.menu
      a(href="/usuarios/cadastro") Cadastrar
      a(href="/usuarios") Usuários
      a(href="/grupos") Grupos
    .container
      block content
