extends ./layout

block content
  h3 Login
  form(method="post")
    .field
      label(for="email") Email: 
        input#email(name="email")
    .field
      label(for="password") Senha: 
        input#password(name="password" type="password")
    button OK