extends ./layout

block content
  h3 Lista de usuários
  if users && users.length != 0
    ul
      for user in users
        li(class=user.group.title == 'Admins' ? 'admin' : '')
          a(href="/usuarios/" + user.id) #{user.firstName} #{user.lastName}
