extends ./layout

block content
  if errors
    - var fields = errors.map(error => error.path)
  h3 Detalhes do usuário
  if user
    ul
      form(method="post")
        input(type="hidden" name="method" value="patch")
        .field
          label Primeiro Nome:
            input(name="firstName" value=user.firstName)
            if fields && fields.includes('firstName')
              - var validations = errors.filter(error => error.path === 'firstName')
              ul.errors
                for validation in validations
                  li=validation.message
        .field
          label Sobrenome:
            input(name="lastName" value=user.lastName)
            if fields && fields.includes('lastName')
              - var validations = errors.filter(error => error.path === 'lastName')
              ul.errors
                for validation in validations
                  li=validation.message
        .field
          label Email:
            input(name="email" value=user.email)
            if fields && fields.includes('email')
              - var validations = errors.filter(error => error.path === 'email')
              ul.errors
                for validation in validations
                  li=validation.message
        .field
          label Grupo:
            select(name="groupId")
              for group in groups
                option(value=group.id selected=group.id==user.groupId)=group.title
        button Atualizar
      form(method="post")
        input(type="hidden" name="method" value="delete")
        button Excluir
