body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.prod {
  color: gray;
}

.errors {
  background-color: #eebaba;
  color: brown;
}
.invalid {
  border-color: red
}

.field {
  margin: 20px
}

div.menu > a {
  margin: 0 20px 0 0;
}

li.admin a {
  font-weight: bold;
  color: navy;
}